[run]
branch = True
source = accounts, customers, finance, inventory, logs, Sefro_Clinic, website
omit =
    */migrations/*
    Sefro_Clinic/spectacular_fix.py
    venv/*
    tests/*
    */tests/*
    manage.py
    */wsgi.py
    */asgi.py

[report]
show_missing = True
skip_empty = True

[html]
directory = htmlcov
